<!doctype html>
<html lang="en">
<head>
    <title>
        {% if title %}{{ title }} &middot; {% endif %}
        Issues
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/flat-ui.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}

</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

{% block js %}{% endblock %}
</html>
