{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-5 hidden-sm">
        <h2 class="text-muted"># of open issues</h2>
    </div>
    <div class="col-md-7 col-sm-12">
        <h1>
            <a href="https://github.com/{{ repo.username }}/{{ repo.name }}" target="_blank">
                {{ repo.username }}/{{ repo.name }}
            </a>
        </h1>
    </div>
    <div class="col-md-5 visible-sm col-sm-12">
        <h2 class="text-muted"># of open issues</h2>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <canvas id="chart"></canvas>
    </div>
</div>

<div class="row issues">
    <div class="col-md-12">
        <h2 class="text-muted">latest open issues</h2>
    </div>
</div>
{% endblock %}

{% block js %}
{% raw %}
<div id="issue-row-template" class="hidden">
    <div class="row issues"></div>
</div>

<div id="issue-template" class="hidden">

    <div class="col-md-4">
        <h4><a href="{{ html_url }}" class="text-muted">#{{ number }}:</a> {{ title }}</h4>
        <p>
            {{ created_at }} by
            <a href="{{ user.html_url }}" title="<img src='{{ user.avatar_url }}' class='img-circle'>" data-toggle="tooltip">
                {{ user.login }}
            </a>
        </p>
    </div>

</div>

<div id="no-issues-template" class="hidden">
    <div class="col-md-12">
        <h5 class="text-muted">
            no open issues to show for <a class="text-muted" href="https://github.com/{{ fullname }}">{{ fullname }}</a>
        </h5>
    </div>
</div>

{% endraw %}

<script type="text/javascript">
    window.repo = {{ repo.template_context|safe }}
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mustache.js') }}"></script>
<script src="{{ url_for('static', filename='js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/draw.js') }}"></script>
{% endblock %}
