{% extends 'base.html' %}
{% block content %}
<div class="row">

    <a href="{{ url_for('import_repos') }}">import stuff</a>

</div>

<ul>
{% for repo in repos %}
<li><a href="{{ repo.url() }}">{{ repo.fullname }}</a></li>
{% endfor %}
</ul>

{% endblock %}
