.tooltip.top .tooltip-arrow {
    border-top-color: rgba(220, 220, 220, 0.75) !important;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(220, 220, 220, 0.75) !important;
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgba(220, 220, 220, 0.75) !important;
}

.tooltip.right .tooltip-arrow {
    border-right-color: rgba(220, 220, 220, 0.75) !important;
}

.tooltip-inner {
    background-color: rgba(220, 220, 220, 0.75);
    width: auto;
}

